*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: solid .1rem red;
}
nav{
    height: 12vh;
    background-color: black;
    width: 100%;
}
.logo-empresa{
    height: 100%;
    width: 20%;
}
.offcanvas{
    width: 80%;
}
.offcanvas-body{
    width: 100%;
}
.contenido-nav{
    width: 100%;
}

header{
    height: 68vh;
    background-color: blueviolet;
}
